body {
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  margin: 0px;
  /* scroll bar */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  font-family: "Hero";
  padding-left: 40px;
  padding-bottom: 40px;
}

.headerData {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.headerLine1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContent {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.headerDetail,
.menu a {
  font-size: 15px;
  color: #e5e7eb;
}

.headerDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headerButton a {
  background-color: #3882f6;
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  font-size: small;
}

.headerData h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  /* text-align: right; */
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.logo,
.menu,
.headerDetail,
.headerImg {
  /* display: flex; */
  flex: 1;
  /* justify-content: flex-start; */
}

/* .menu {
  justify-content: flex-end;
} */

/* .menu {
  display: flex;
  margin-left: auto;
} */

img {
  width: 200px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  row-gap: 10px;
  flex-wrap: wrap;
  /* width: 200px;
  height: 300px; */
  /* flex-shrink: 0; */
}

.cardImg img {
  border: 1px solid blue;
  border-radius: 10%;
  width: 100px;
  height: 100px;
}

.imgText {
  padding: 10px;
  text-align: center;
  width: 150px;
}

.information h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.testimony {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 50px;
  flex: 1;
}

.quote {
  width: 600px;
  /* text-align: center; */
  font-style: italic;
  font-size: 20px;
  color: #1f2937;
}

.customerName {
  width: 600px;
  align-self: flex-end;
  font-weight: bolder;
  text-align: center;
}

.signup {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.calltoaction {
  background-color: #3882f6;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px 70px 30px 70px;
  /* border-radius: 5%; */
  color: white;
}

.ctasubtext {
  font-size: 15px;
}
.ctamaintext {
  font-size: 20px;
}

.ctabutton a {
  /* border-color: white; */
  border: 2px solid white;
  border-radius: 10%;
  color: #e5e7eb;
  padding: 5px 20px 5px 20px;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  align-content: space-around;
  background-color: #1f2937;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
